# Untracked files
node_modules/
secrets.yaml
ios.conf
ios.conf.backup
.ring_cache.pickle
.spotify-token-cache
.uuid
nest.conf
usps_cache.sqlite
usps_cookies.pickle
*.pickle
.HA_VERSION
packages/laylacam.yaml
icloud/
deps/
custom_components/__pycache__/
device_tracker/__pycache__/
scripts/usps.py
tts/
*.pyc
.ios.conf.backup
